/* src/components/ImageComparator.css */
.comparator-container {
  width: 100%;
  max-width: 600px; /* Ajusta el tamaño máximo del comparador */
  margin: 2rem auto 0; /* Centra y da espacio superior */
  border: 3px solid #61dafb; /* Un borde con el color azul de React */
  border-radius: 8px;
  overflow: hidden; /* Asegura que las esquinas redondeadas se apliquen a la imagen */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}